// Analysis parameters

params.regenie_result_directories = '/gpfs/space/home/a82371/Liang_2013/MRCA/eQTL_analysis/regenie/,/gpfs/space/home/a82371/Liang_2013/MRCE/eQTL_analysis/regenie/,/gpfs/space/home/a82371/ALSPAC/eQTL_analysis/regenie/,/gpfs/space/home/a82371/Regenie-Nextflow-pipeline/regenie_pipeline/CAP_naive_LCL_EUR/STEP2/regenie/,/gpfs/space/home/a82371/Regenie-Nextflow-pipeline/regenie_pipeline/GENCORD_naive_LCL/STEP2/regenie/,/gpfs/space/home/a82371/Regenie-Nextflow-pipeline/regenie_pipeline/GEUVADIS_naive_LCL/STEP2/regenie/,/gpfs/space/home/a82371/Regenie-Nextflow-pipeline/regenie_pipeline/GTEx_naive_LCL/STEP2/regenie/,/gpfs/space/home/a82371/Regenie-Nextflow-pipeline/regenie_pipeline/TwinsUK/STEP2/regenie/,/gpfs/space/home/a82371/reformat_dataset_gene_files/results_R2/'
params.meta_study_name='Liang_2013_ALSPAC_CAP_eur_GENCORD_GEUVADIS_GTEx_TwinsUK_CoLausR2_naive_LCL_metaanalysis'
params.outdir='Liang_2013_ALSPAC_CAP_eur_GENCORD_GEUVADIS_GTEx_TwinsUK_CoLausR2_naive_LCL'
params.filter_logp_threshold=7.301029995663981
params.phenotype_Ensembl_metadata="${baseDir}/data/gene_counts_Ensembl_96_phenotype_metadata.tsv.gz"

includeConfig 'conf/base.config'


profiles {
  
  tartu_hpc { includeConfig 'conf/tartu_hpc.config'}
}

report {

  enabled = true
  file = 'metaanalysis_workflow_report.html'

}

trace {

  enabled = true
  file = 'metaanalysis_workflow_trace.txt'

}

manifest {
  name = 'QTL_metaanalysis'
  description = 'QTL_metaanalysis'
  mainScript = 'main.nf'
}

process.executor = 'slurm'
process.queue = 'amd'